
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}"  />
<h2>SEARCH BY ITEM NUMBER</h2>

    <form class="form" action="/searchresultitems" method="POST">
        <div class="input-group mb-3">
            <div class="col-sm-3">

                <input type="number" class="form-control" aria-label="Item Number" aria-describedby="inputGroup-sizing-default" placeholder = "0" name = "item_number">
            </div>
            <button type="submit" class="btn btn-secondary">Search By Item Number</button>

           </br>
        </div>



    </form>

{% endblock %}