
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}"  />
<h2>SEARCH BY DESCRIPTION </h2>

    <form class="form" action="/searchresultdescription" method="POST">


        <div class="input-group mb-3">
            <div class="col-sm-3">
                <input type="text" class="form-control" aria-label="Description" aria-describedby="inputGroup-sizing-default" placeholder = "Item Description" name = "item_Description">
            </div>

            <button type="submit" class="btn btn-secondary"> Submit</button>

        </div>

    </form>


{% endblock %}